.title {
  font-size: $text-big;
  margin: 0 0 0 4rem;
  width: 100vw;

  &::before {
    content: url('../maquetado/assets/triangle.svg');
    display: inline-block;
    height: $title-decoration-height;
    position: relative;
    right: -1.2rem;
    top: 2.2rem;
    width: $title-decoration-width;
    z-index: -1;
  }
}
