.tools__title {
  align-content: center;
  align-items: center;
  display: flex;

  &-img {
    height: $title-decoration-height;
    width: $title-decoration-width;
  }

  & span {
    font-size: $text-big;
    position: relative;
    right: 1.2rem;
  }
}
