@import '../../../../../scss/colors';

.custom-input-container {
  margin-bottom: 25px;
  position: relative;
}

.custom-input {
  border-bottom: $black solid;
  color: $black;
  width: 100%;
}

.custom-label {
  color: $grey;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: -12px;
  transition: all 0.2s;
}

.error-text {
  background-color: $red;
  color: $white;
  margin-top: 10px;
  position: relative;

  &::before {
    border-bottom-color: $red;
    border-style: solid;
    border-width: 0 8px 8px 7px;
    content: '';
    height: 0;
    left: 20px;
    position: absolute;
    top: -8px;
    width: 0;
  }
}
