@import '../../../../../scss/colors';

.login {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  margin: auto;
  max-width: 320px;
  padding: 30px;
  width: 100%;

  & .invalid {
    border: none;
  }
}

.submit {
  background-color: $green;
  border-color: $green;
  color: $white;
  padding: 10px;

  &:disabled {
    background-color: $grey;
  }
}
