.footer {
  align-items: center;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;

  &-title {
    color: white;
    font-size: $text-big;
    font-weight: 200;
    margin:20px 0; 
  }
  
  &-logo {
    margin-bottom: 10px;
  }

  &-legal {
    color: white;
    font-size: $text-small;
    align-self: flex-end;
  }
}