.techs {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 190px);
  justify-content: center;
  margin-bottom: 40px;
}

@media only screen and (max-width: 1024px) {
  .techs {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
}
