.techs {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  margin-bottom: 40px;
}

.first {
  grid-row: 1 / span 3;
  position: relative;
  
  &::after {
    border-right: 2px solid $green;
    content: '';
    height: 650px;
    position: absolute;
    top: -148px;
    transform: translate(0, -25px);
    width: 100%;
  }
}
