.tech {
  align-items: center;
  background-color: $green-color;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-items: center;
  margin: 16px;
  max-height: 304px;
  max-width: 208px;
  padding: 16px;
  width: 100%;

  &::after {
    background-color: $white;
    border: 2px solid $green-color;
    border-radius: 8px;
    content: '';
    display: table;
    height: 304px;
    transform: translate(-11px,-265px);
    width: 208px;
    z-index: -1;
  }


  &-logo {
    & img {
      height: $tech-logo-size;
      padding: 0 0 16px;
      width: $tech-logo-size;
    }
  }

  &-name {
    padding: 0 0 16px;
  }

  &-release {
    font-weight: bolder;
    padding: 0 0 24px;
  }

  &-description {
    text-align: center;
  }
}
