.title {
  font-size: $text-big;
  margin-left: 20px;
  width: 100%;

  &::before {
    content: '';
    background-image: url('./assets/triangle.svg');
    background-repeat: no-repeat;
    display: inline-block;
    height: $title-decoration-height;
    position: relative;
    right: -19px;
    top: 35px;
    width: $title-decoration-width;
    z-index: -1;
  }
}
