//fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

//Colors
$black: #000;
$blue: #00ADEE;
$green-color: #BED23C;
$grey-color: #C4C4C4;
$white: #FFF;

//Fixed Elements
$nav-height: 70px;
$nav-logo-height: 30px;
$title-decoration-height: 90px;
$title-decoration-width: 70px;
$tech-logo-size: 100px;
$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;
