@import './src/scss/colors';

.game {
  display: flex;
  justify-content: center;
  
  &-board {
    border-image: linear-gradient(to bottom, $black, transparent) 1 100%;
    border-style: solid;
    border-width: 3px;
    color: $white;
    max-width: 250px;
    padding: 16px;
  }
}

.game-info {
  margin-left: 20px;
}
