@import './src/scss/colors';

.nav-button {
  background-color: $black;
  box-shadow: 0 5px 6px $dust-gray;
  color: $white;
  margin: 0 5px;
  padding: 10px;
  transition-duration: 0.4s;

  &:hover {
    background-color: $orange;
  }

  &:active {
    background-color: $red;
    box-shadow: 0 1px 1px $dust-gray;
  }
}

.nav-link {
  background-color: $black;
  border-radius: 2px;
  box-shadow: 0 5px 6px $dust-gray;
  color: $white;
  display: flex;
  margin: 0 5px;
  max-width: 80px;
  overflow: auto;
  padding: 10px;
  width: 100%;
  transition-duration: 0.4s;

  &:hover {
    background-color: $green;
  }

  &:active {
    box-shadow: 0 1px 1px $dust-gray;
  }

  &:focus {
    box-shadow: 0 1px 1px $dust-gray;
    color: $white;
  }
}

.navbar {
  align-items: center;
  border-bottom: thick $grey;
  box-shadow: 0 2px 2px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  padding: 10px 0;
  text-decoration: none;
}

.nav-title {
  background-color: $black;
  box-shadow: 0 12px 24px $black;
  color: $white;
  position: relative;

  &::before {
    border-bottom: 30px solid $black;
    border-left: 1px solid transparent;
    border-right: 10px solid transparent;
    bottom: 4px;
    content: '';
    margin: 0 0 10px 0;
    position: absolute;
    width: 91px;
  }

  &::after {
    border-top: 30px solid $black;
    border-left: 1px solid transparent;
    border-right: 10px solid transparent;
    content: '';
    margin: 0 0 10px 0;
    position: absolute;
    right: 0px;
    top: 13px;
    width: 91px;
  }
}

.error {
  background-color: $orange;
  border-radius: 2px;
  color: $white;
  margin-bottom: 10px;
  padding: 5px 100px;
  position: relative;

  &::before {
    border-bottom-color: $orange;
    border-style: solid;
    border-width: 0 8px 8px 0;
    bottom: -8px;
    content: '';
    height: 0;
    left: 20px;
    position: absolute;
    transform: rotate(0.5turn);
    width: 0;
  }

  &-container {
    display: flex;
    justify-content: center;
  }
}
