@import '../../../../../scss/colors';

.button {
  background-color: $black;
  color: $white;
  margin: 0 5px;
  padding: 10px;
  
  &:hover {
    background-color: $orange;
  }
}

.link {
  background-color: $black;
  color: $white;
  display: flex;
  max-width: 80px;
  margin: 0 5px;
  overflow:auto;
  padding: 10px;
  width: 100%;

  &:hover {
    background-color: $green;
  }
}

.container {
  align-items: center;
  border-bottom: thick double $grey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-decoration: none;
}

.error {
  color: orange;

  &-container {
    display: flex;
    justify-content: center;
  }
}
